.form-input
	margin-bottom 60px
	height 30px
	border none 
	border-bottom 2px solid #D0E9FA
	&:focus
		border-bottom 2px solid #0097A7

.err
	border-bottom 2px solid red

@media(max-width: 360px)
	.form-input
		margin-bottom 53px
		height 35px