.popup
	position absolute
	z-index 5
	left 50%
	display none
	width 980px
	height 677px
	transform translateX(-50%)

	&__wrap
		position relative
		display flex
		align-items center
		height 100%
	&__close
		position absolute
		z-index 6
		top 25px
		right 23px
		background-color transparent
		border none
		&_mobile
			display none

	&__image-wrap,
	&__content
		position relative
		width 50%
		height 100%

	&__image
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)

	&__title
		margin-bottom 20px
		font-size 24px
		font-weight 500
		line-height 31px
		color #000000

	&__image-wrap
		background-color rgba(#ffffff, .9)

	&__content-wrap
		width 344px
		height 344px

	&__content
		display flex
		justify-content center
		align-items center
		background-color #ffffff

.active
	display block

@media(max-width: 1050px)
	.popup
		padding 0 20px
		width 100%
		height 394px
		&__wrap
			justify-content center
		&__close
			&_desktop
				display none
			&_mobile
				display block
		&__image-wrap
			display none
		&__content-wrap
			width 260px
			height 356px

@media(max-width: 710px)
	.popup
		&__content
			width 100%
			max-width 308px
		&__title
			margin-bottom 20px
			font-size 20px