.main-container
	margin 0 auto
	padding 0 20px
	width 100%
	max-width 1680px

@media(max-width: 400px)
	.main-container
		padding 0 10px
		max-width 370px
@media(max-width: 360px)
	.main-container
		padding 0 10px
		max-width 350px