$main-text-color = #ffffff
$blue-text = #58E0FF
$gray-text = #707070
$blue = #009888
$dark-blue = #00838F
$popup-blue = #0097A7
$button-color-orange = #F57F17
$button-color-pink = #E91E63
$button-color-blue = #00CCB9
$button-color-purple = #7986CB